
.form-container {
    margin-bottom: 20px;
  }
  
  .form-container form {
    display: flex;
    flex-direction: column;
  }
  
  .form-container label {
    margin-bottom: 10px;
  }
  
  .form-container input {
    padding: 8px;
  }
  
  .form-container button {
    padding: 8px;
    width: 100px;
    background-color: #A3AB78;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .form-container button:hover {
    background-color: #45a049;
  }
  
  .error-message, .not-found-message, .empty-name-message  {
    color: red;
  }
  
  .loading-message {
    font-style: italic;
    color: #777;
  }
  
  .results-container {
    margin-top: 20px;
  }
  
  .results-container h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
  .results-container h3 {
    font-size: 1.2em;
    margin-bottom: 5px;
  }
  
  .results-container p {
    margin-bottom: 5px;
  }
  
  .results-container hr {
    margin: 10px 0;
    border: 1px solid #ddd;
  }
  