/* Navbar.css */

.navbar-container {
    text-align: center;
    padding: 2%; /* Odsazení pro vzhled */
    
  }
  
  .navbar-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  
  .navbar-list li {
    margin: 0 10px; /* Odsazení mezi položkami menu - můžete upravit podle potřeby */
  }
  
  .navbar-list a {
    background-color: #A3AB78;
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
    color: white; /* Barva textu v menu - můžete upravit podle potřeby */
    font-weight: bold;
    font-size: 20px; /* Velikost písma - můžete upravit podle potřeby */
  }
  